<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Final Database Project</title>
    <link rel="stylesheet" href="/css/style0.css">
</head>
<body>
{{{body}}}
<script src="/js/client.js"></script>
</body>
</html>